<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelos.Properties.Settings.credimonservicioConnectionString" connectionString="Data Source=DESKTOP-6DHA0O4\SERVERSQL;Initial Catalog=credimonservicio;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="Modelos.Properties.Settings.credimonservicioConnectionString1" connectionString="Data Source=DESKTOP-6DHA0O4\SERVERSQL;Initial Catalog=credimonservicio;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="Modelos.Properties.Settings.credimonservicioConnectionString2" connectionString="Data Source=DESKTOP-6DHA0O4\SERVERSQL;Initial Catalog=credimonservicio;Persist Security Info=True;User ID=sa;Password=Comun1*" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>